@import "src/variables";

.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
  justify-items: center;
  gap: 2em;
}


.title{
  margin-bottom: 1em;
}
