@import "src/variables";

.container {
  @include container();
  max-width: 700px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input {
  width: 100%;
  & input {
    font-size: 1.3em;
    border: 1px solid $main-color;
    width: 100%;
  }
}

.btns{
  display: flex;
  gap: 1em;
}

.btn {
  background: none;
  padding: 0.5em 1em;
  font-weight: 500;
  border: 1px solid $main-color;
}
